div.navigation_link {
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	margin: 20px;
	color: #003399;
}
form {
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	margin: 20px;
	color: #003399;
}
table {
	clear:both;
	border-collapse: collapse;
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size: 12px;
	margin: 20px;
	text-align: left;
}
table th {
	background: none repeat scroll 0 0 #B9C9FE;
	border-bottom: 1px solid #FFFFFF;
	border-top: 4px solid #AABCFE;
	color: #003399;
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
}
table td {
	background: none repeat scroll 0 0 #E8EDFF;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid transparent;
	color: #666699;
	padding: 8px;
}
table tr:hover td {
	background: none repeat scroll 0 0 #D0DAFD;
	color: #333399;
}
div.tag
{
	background-color: #F3F1D9;
	border: 1px solid #C5B849;
	padding: 3px 4px 3px 4px;
	margin: 2px 2px 2px 0;
	font-size: 90%;
	display: inline;
	cursor: pointer;
}
fieldset.form_menu
{
	display:block;
	float:left;
	height:100%;
}
div#form_menu_div
{
	height:125px;
	clear:both;
	padding-bottom:10px;
}
div.navigation_link
{
	float:left;
}
div.tag_statistics
{
	padding-bottom:5px;
	clear:both;
	float:left;
}
div.container
{
	clear:both;
	max-width:800px;
}
.column_66
{
	width:66%;
	display:inline;
}
.column_34
{
	width:34%;
	display:inline;
}
.column_100
{
	width:100%;
}
